In [198]:
import pandas as pd
import tempfile
import nglview as nv
import os

In [199]:
target_id = '8KAI'

In [200]:
data = pd.read_csv(os.path.join('/media/datasets/rna-folding/train_labels.csv'))

In [201]:
data.head()

         ID resname  resid     x_1        y_1     z_1
0  1SCL_A_1       G      1  13.760 -25.974001   0.102
1  1SCL_A_2       G      2   9.310 -29.638000   2.669
2  1SCL_A_3       G      3   5.529 -27.813000   5.878
3  1SCL_A_4       U      4   2.678 -24.900999   9.793
4  1SCL_A_5       G      5   1.827 -20.136000  11.793

In [202]:
list(set( [id.split('_')[0] for id in data['ID']] ))[:10]

['3PHP',
 '1FJE',
 '1KKA',
 '1A9N',
 '4D5N',
 '1F85',
 '17RA',
 '2K66',
 '8KAI',
 '8T3E']

In [203]:
cell = data[data['ID'].str.startswith(target_id)]
cell = cell.drop('resid', axis=1)
cell = cell.drop('ID', axis=1)

In [204]:
cell.head()

       resname        x_1        y_1        z_1
130443       G        NaN        NaN        NaN
130444       G  37.714001 -73.418999  73.100998
130445       U  37.092999 -78.536003  70.831001
130446       A  33.991001 -81.973999  69.350998
130447       G  28.669001 -83.289001  67.594002

In [205]:
def build_pdb(df):
    pdb_lines = []
    for i, row in df.iterrows():
        pdb_line = (
            f"HETATM{i+1:5d}  P   {row['resname']} A{i+1:4d}    "
            f"{row['x_1']:8.3f}{row['y_1']:8.3f}{row['z_1']:8.3f}  1.00  0.00           P"
        )
        pdb_lines.append(pdb_line)
    pdb_lines.append("END")
    return "\n".join(pdb_lines)

pdb_str = build_pdb(cell)

In [206]:
print(pdb_str)

HETATM130444  P   G A130444         nan     nan     nan  1.00  0.00           P
HETATM130445  P   G A130445      37.714 -73.419  73.101  1.00  0.00           P
HETATM130446  P   U A130446      37.093 -78.536  70.831  1.00  0.00           P
HETATM130447  P   A A130447      33.991 -81.974  69.351  1.00  0.00           P
HETATM130448  P   G A130448      28.669 -83.289  67.594  1.00  0.00           P
HETATM130449  P   C A130449      23.881 -81.578  64.783  1.00  0.00           P
HETATM130450  P   A A130450      20.068 -77.991  63.494  1.00  0.00           P
HETATM130451  P   A A130451      20.209 -73.713  60.278  1.00  0.00           P
HETATM130452  P   G A130452      20.674 -71.080  55.292  1.00  0.00           P
HETATM130453  P   U A130453      16.913 -68.545  49.959  1.00  0.00           P
HETATM130454  P   U A130454      14.748 -62.315  53.163  1.00  0.00           P
HETATM130455  P   A A130455      14.848 -57.697  54.614  1.00  0.00           P
HETATM130456  P   A A130456      16.091 -52.554  56.069  1.00  0.00           P
HETATM130457  P   A A130457      20.149 -48.678  55.029  1.00  0.00           P
HETATM130458  P   A A130458      24.398 -46.603  52.069  1.00  0.00           P
HETATM130459  P   U A130459      26.070 -46.559  47.304  1.00  0.00           P
HETATM130460  P   A A130460      31.724 -42.103  45.327  1.00  0.00           P
HETATM130461  P   A A130461      33.458 -37.879  51.120  1.00  0.00           P
HETATM130462  P   G A130462      30.167 -34.650  50.335  1.00  0.00           P
HETATM130463  P   G A130463      28.749 -28.954  48.424  1.00  0.00           P
HETATM130464  P   C A130464      25.299 -24.627  48.672  1.00  0.00           P
HETATM130465  P   U A130465      23.052 -22.465  44.800  1.00  0.00           P
HETATM130466  P   A A130466      19.306 -26.797  49.403  1.00  0.00           P
HETATM130467  P   G A130467      17.367 -27.858  43.138  1.00  0.00           P
HETATM130468  P   U A130468      12.889 -34.804  43.171  1.00  0.00           P
HETATM130469  P   C A130469      20.105 -30.004  41.874  1.00  0.00           P
HETATM130470  P   C A130470      25.399 -31.072  41.819  1.00  0.00           P
HETATM130471  P   G A130471      29.670 -34.267  42.961  1.00  0.00           P
HETATM130472  P   U A130472      34.923 -39.452  38.273  1.00  0.00           P
HETATM130473  P   U A130473      35.147 -36.231  30.978  1.00  0.00           P
HETATM130474  P   A A130474      38.206 -32.622  28.731  1.00  0.00           P
HETATM130475  P   U A130475      42.533 -29.354  30.649  1.00  0.00           P
HETATM130476  P   C A130476      48.088 -29.121  33.321  1.00  0.00           P
HETATM130477  P   A A130477      56.559 -29.385  32.943  1.00  0.00           P
HETATM130478  P   A A130478      59.267 -24.815  34.990  1.00  0.00           P
HETATM130479  P   C A130479      60.052 -19.437  35.914  1.00  0.00           P
HETATM130480  P   U A130480      57.971 -14.188  35.739  1.00  0.00           P
HETATM130481  P   U A130481      52.762 -12.007  34.880  1.00  0.00           P
HETATM130482  P   G A130482      47.552 -12.814  35.904  1.00  0.00           P
HETATM130483  P   A A130483      41.336 -13.644  39.780  1.00  0.00           P
HETATM130484  P   A A130484      41.290 -16.739  35.542  1.00  0.00           P
HETATM130485  P   A A130485      41.460 -16.947  30.130  1.00  0.00           P
HETATM130486  P   A A130486      45.905 -16.312  28.879  1.00  0.00           P
HETATM130487  P   A A130487      50.485 -13.669  27.419  1.00  0.00           P
HETATM130488  P   G A130488      56.029 -13.792  28.262  1.00  0.00           P
HETATM130489  P   U A130489      61.204 -16.327  28.902  1.00  0.00           P
HETATM130490  P   G A130490      65.890 -20.185  26.529  1.00  0.00           P
HETATM130491  P   G A130491      72.961 -16.758  20.630  1.00  0.00           P
HETATM130492  P   C A130492      74.807 -19.623  16.269  1.00  0.00           P
HETATM130493  P   A A130493      78.207 -22.637  13.315  1.00  0.00           P
HETATM130494  P   C A130494      81.285 -26.973  12.801  1.00  0.00           P
HETATM130495  P   C A130495      83.327 -31.784  13.948  1.00  0.00           P
HETATM130496  P   G A130496      81.544 -36.108  15.645  1.00  0.00           P
HETATM130497  P   A A130497      77.862 -40.415  18.415  1.00  0.00           P
HETATM130498  P   G A130498      75.667 -45.417  23.769  1.00  0.00           P
HETATM130499  P   U A130499      70.931 -41.632  25.398  1.00  0.00           P
HETATM130500  P   C A130500      74.671 -35.774  23.577  1.00  0.00           P
HETATM130501  P   G A130501      80.625 -34.808  23.691  1.00  0.00           P
HETATM130502  P   G A130502      84.202 -31.220  22.157  1.00  0.00           P
HETATM130503  P   U A130503      85.649 -26.632  19.552  1.00  0.00           P
HETATM130504  P   G A130504      85.853 -21.617  16.906  1.00  0.00           P
HETATM130505  P   C A130505      83.223 -16.827  16.533  1.00  0.00           P
HETATM130506  P   U A130506      79.497 -13.611  19.201  1.00  0.00           P
HETATM130507  P   U A130507      77.899 -13.325  24.485  1.00  0.00           P
HETATM130508  P   C A130508         nan     nan     nan  1.00  0.00           P
END

In [207]:
with tempfile.NamedTemporaryFile("w+", suffix=".pdb", delete=False) as tmp:
    tmp.write(pdb_str)
    tmp_path = tmp.name

In [217]:
view = nv.show_file(tmp_path)
view.clear_representations()
view.add_ball_and_stick()
view.center()
view

NGLWidget()

In [218]:
view.render_image()

Image(value=b'', width='99%')

In [215]:
# Load pdb from the protein data bank
view = nglview.show_pdbid(target_id)
view

NGLWidget()

In [216]:
view.render_image()

Image(value=b'', width='99%')